<html xmlns="http://www.thymeleaf.org">
<body>
	<h1> Add Building</h1>
	
	<form th:action="@{/web/building/successAdd}" method="GET" th:object="${building}">
		<table>
		<tr>
		<td>Name:</td> 
		<td><input th:field="*{name}" required></td>
		</tr>
		<tr>
		<td>Area:</td> 
		<td><input th:field="*{area}" required></td>
		</tr>
		<tr>
		<td>Floor:</td>
		<td><input th:field="*{floor}" required></td>
		</tr>
		<tr>
		<td><input type="submit" value="Submit"></td>
		<td><input type="button" value="Back Building" onclick="window.location.href='/web/building/index'"></td>
		</tr>
		</table></br>
		<input type="button" value="Back Project" onclick="window.location.href='/web/project/index2'">
	</form>
	
</body>
</html>