<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" th:href="@{/css/table/add-student-style.css}" type="text/css">
<link rel="stylesheet" th:href="@{/css/table/style.css}" type="text/css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script th:src="@{/js/test.js}"></script>

<style type="text/css">
body{
 background-image: url("/images/123.jpg");
           background-size: cover;   
           }
           h1 {
			  color: White;
			 text-align: center;
		}
           </style>
</head>
<body>
	<div id="container">
	
		<div id="content">
 <h1>List Building:</h1>
<div style = "width:1400px; margin:auto; padding:10px; ">
	<input type="button" value="Add Building" align="center"
	onclick = "window.location.href='/web/building/addbuilding'; return false;"/><br/>
	<input type="button" name="clickme" id="json-click" value="get list by json"/>
	
	<div id="div_show"></div>
</div>
 
 <div style = "width:1400px; margin:auto; padding:10px; ">
	<form th:action="@{/web/building/search}" methor="Get" >
	 	<span>
		 	<input type = "text" th:value= "${name}" placeholder = "Name" name = "name"/>
		 	
		 	<input type = "text" th:value= "${arfrom}" placeholder = "Area From" name = "arfrom"/>
		 	<input type = "text" th:value= "${arto}" placeholder = "Area To" name = "arto"/>
		 	
		 	<input type = "text" th:value= "${floorfrom}" placeholder = "Floor From" name = "floorfrom"/>
		 	<input type = "text" th:value= "${floorto}" placeholder = "Floor To" name = "floorto"/>
	 	</span>
	 	
	 	<button type="submit" value="Submit">Search</button>
	</form>
</div>
<br>

<table align="center"  >
    <tr>
    	<th>Id</th>
      <th>Name</th>
      <th>area</th>
      <th>floor</th>
      <th>View</th>
      <th>Delete</th>
      <th>Edit</th>
    </tr>
    
    <th:block th:each="building : ${buildingList}">
     
     <tr>
        <td th:text="${building.id}"></td>
        <td><p th:text="${building.name}"></p></td>
      	<td th:text="${building.area}"></td>
      	<td th:text="${building.floor}"></td>
      	<td><a th:href="@{/web/building/view/} + ${building.id}">View</a></td>
      	<td><a th:href="@{/web/building/deleteBuilding/} + ${building.id}" + onclick="return confirmAction()">Delete</a></td>
      	<td><a th:href="@{/web/building/editForm/} + ${building.id}">Edit</a></td>
 	</tr>
    </th:block>
</table>

</div>
</div>

</body>
</html>