<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" th:href="@{/css/table/add-student-style.css}"
	type="text/css">
<link rel="stylesheet" th:href="@{/css/table/style.css}" type="text/css">
<link rel="stylesheet" th:href="@{/css/searchbox/search.css}"
	type="text/css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style type="text/css">
body {
	background-image: url("/images/background.jpg");
	background-size: cover;
}

h1 {
	color: Black;
	text-align: center;
}
</style>
</head>


<SCRIPT LANGUAGE="JavaScript">
	function confirmAction() {
		return confirm("DO YOU WANT DELETE ?")
	}
</SCRIPT>


<body>

	<div id="wrapper">
		<div id="header"><h1>List Building:</h1></div>
		
	</div>
	<div id="container">
	
		<div id="content">
			
			<input type="button" value="Add Project" align="center"
				onclick="window.location.href='/web/project/addproject'; return false;" />

			<br /> <br />
			<form class="example"
				th:action="@{/web/project/searchProject/search}" method="GET"
				style="margin: auto; max-width: 300px">
				<input type="text" placeholder="Name Project Search" name="q">
				<button type="submit">
					<i class="fa fa-search"></i>
				</button>
			</form>
			</br> <br /> <br />
			<form class="example" th:action="@{/web/project/startProject/search}"
				method="GET" style="margin: auto; max-width: 300px">
				<input type="text" placeholder="Day Start : yyyy-MM-dd "
					name="startsearch">
				<button type="submit">
					<i class="fa fa-search"></i>
				</button>
			</form>
			</br> <br /> <br />
			<form class="example" th:action="@{/web/project/endProject/search}"
				method="GET" style="margin: auto; max-width: 300px">
				<input type="text" placeholder="Day End Project Search "
					name="endsearch">
				<button type="submit">
					<i class="fa fa-search"></i>
				</button>
			</form>
			</br>
			<table align="center">


				<tr>
					<th>Id</th>
					<th>Name Project</th>
					<th>Start Project</th>
					<th>End Project</th>
					<th>DELETE</th>
					<th>Edit</th>
					<th>View</th>
				</tr>

				<th:block th:each="project : ${projectList}">
					<tr>
						<td th:text="${project.id}"></td>
						<td><a th:href="@{/web/project/view/} + ${project.id}"><p
									th:text="${project.nameproject}"></p></a></td>
						<td th:text="${project.startdate}"></td>
						<td th:text="${project.enddate}"></td>
						<td><a
							th:href="@{/web/project/deleteProject/} + ${project.id}"
							+ onclick="return confirmAction()">DELETE</a></td>
						<td><a
							th:href="@{/web/project/editproject-form/} + ${project.id}">Edit</a></td>
						<td><a th:href="@{/web/project/view/} + ${project.id}">View</a></td>
					</tr>
				</th:block>

			</table>
		</div>
	</div>

</body>
</html>