<html xmlns:th="http://www.thymeleaf.org">

<body>
  <h1>Add new Project:</h1>
  
  <form th:action="@{/web/project/saveProject}" method="POST" th:object="${project}">
  
	  <table>
		  <tr>
		      <td>Name:</td> 
		      <td><input th:field="*{nameproject}" placeholder = "Ten du an" required/></td>
		  </tr>
		  <tr>
		      <td>Start:</td> 
		      <td><input type="date" th:field="*{startdate}" required></td>
		  </tr>
		  <tr>
		      <td>End:</td> 
		      <td><input type="date" th:field="*{enddate}" required></td>
		  </tr>
		  <tr>
		      <td>Building Id:</td> 
		      
		      <td><select th:field="*{buildingId}" id="a">
		      	<option th:value="0"></option>
		    	<option th:each = "a:${building}" th:value="${a.id}" th:text="${a.name}"></option>
			
		      </select></td>
		      
		      
		  </tr>
		  
	
		  
		  <tr>
		    <td><input type="submit" value="Submit" /></td>
		    <td><input type="button" value="Back" onclick="window.location.href='/web/project/index2';"></td>
		  </tr>
	  </table>
	  
  </form>
  
</body>
</html>