<html xmlns:th="http://www.thymeleaf.org">

<body>
  <h1>Add new Project:</h1>
  
  <form th:action="@{/web/project/saveProject}" method="POST" th:object="${project}">
  
	  <table>
		  <tr>
		      <td>Name:</td> 
		      <td><input th:field="*{nameproject}" placeholder = "Ten du an"/></td>
		  </tr>
		  <tr>
		      <td>Start:</td> 
		      <td><input type="date" th:field="*{startdate}" ></td>
		  </tr>
		  <tr>
		      <td>End:</td> 
		      <td><input type="date" th:field="*{enddate}" ></td>
		  </tr>
		  <tr>
		      <td>Building Id:</td> 
		      
		      <td><select th:field="*{buildingId}">
		    	<option value="1">samsung</option>
				<option value="2">tung</option>
				<option value="3">hieu</option>
				<option value="4">lien</option>		
			    <option value="5">nhung</option>
		      </select></td>
		      
		      
		  </tr>
		  <tr>
		    <td><input type="submit" value="Submit" /></td>
		    <td><input type="button" value="Back" onclick="window.location.href='/web/project/index2';"></td>
		  </tr>
	  </table>
	  
  </form>
  
</body>
</html>