<html xmlns:th="http://www.thymeleaf.org">
<body>
<h1>Edit</h1>

<form th:action="@{/web/project/editProject}" method="GET" th:object="${project}">

	<table>
		<tr>
			<td>ID</td>
			<td><input th:field= "*{id}" readonly="true"></td>
		</tr>
		<tr>
			<td>Name Project</td> 
			<td><input th:field= "*{nameproject}"></td>
		</tr>
		<tr>
			<td>Start Project</td>
			<td><input th:field = "*{startdate}"></td>
		</tr>
		<tr>
			<td>End Project</td> 
			<td><input th:field = "*{enddate}"></td>
		</tr>
		<tr>
			<td>Building Id:</td> 
		      
		      <td><select th:field="*{buildingId}" id="a">
		    	<option th:each = "a:${building}" th:value="${a.id}" th:text="${a.name}"></option>
			
		      </select></td>
		</tr>
		<tr>
			<td><input type="submit" value ="SUBMIT"/></td>
		</tr>
		<tr>
			<td><input type="button" value="Back" onclick="window.location.href='/web/project/index2';"></td>
		</tr>
	</table>
</form>
<a th:href="@{/web/project/view/}+ ${project.id}">View</a>
</body>
</html>