<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" th:href="@{/css/table/add-student-style.css}"
	type="text/css">
<link rel="stylesheet" th:href="@{/css/table/style.css}" type="text/css">
<link rel="stylesheet" th:href="@{/css/searchbox/search.css}"
	type="text/css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style type="text/css">
body {
	background-image: url("/images/background.jpg");
	background-size: cover;
}

h1 {
	color: Black;
	text-align: center;
}
</style>
</head>

<SCRIPT LANGUAGE="JavaScript">
	function confirmAction() {
		return confirm("DO YOU WANT DELETE ?")
	}
</SCRIPT>

<body>

	<div id="wrapper">
		<div id="header"><h1>List Project:</h1></div>
	</div>
	
	<div style="width:1358px; margin:auto;padding:10px;">
			<div style="text-align:left;"><input type="button" value="Add Project" align="center"
				onclick="window.location.href='/web/project/addproject'; return false;" /></div>
	</div>
	
	<div style="width:1358px; margin:auto;padding:10px;">
		<form th:action="@{/web/project/searchProject/search}" method="GET">
			<span ><input type="text" th:value="${nameproject}" placeholder="Name Project Search" name="nameproject" >
			<input type="text" th:value="${startsearch}"  placeholder="Day Start : yyyy-MM-dd " name="startsearch">
			<input type="text" th:value="${endsearch}" placeholder="Day End : yyyy-MM-dd " name="endsearch">
			<input type = "text" th:value= "${namebuilding}" placeholder = "find name building" name="namebuilding"></span>
			<button type="submit" value="Submit">Search</button>
		</form>
	</div>
	
			</br>
			<table align="center">
				<tr>
					<th>Id</th>
					<th>Name Project</th>
					<th>Start Project</th>
					<th>End Project</th>
					<th>Building id</th>
					<th>Building area</th>
					<th>DELETE</th>
					<th>Edit</th>
					<th>View</th>
				</tr>
				
				<th:block th:each="project : ${projectList}">
				
				<tr>
					<td th:text="${project.id}"></td>
					<td><a th:href="@{/web/project/view/} + ${project.id}"><p
									th:text="${project.nameproject}"></p></a></td>
					<td th:text="${project.startdate}"></td>
					<td th:text="${project.enddate}"></td>
					<td th:text="${project.buildingId}"></td>
					<td th:text="${project.referenceBuilding?.area}"></td>
					<td><a
						th:href="@{/web/project/deleteProject/} + ${project.id}"
						+ onclick="return confirmAction()">DELETE</a></td>
					<td><a
						th:href="@{/web/project/editproject-form/} + ${project.id}">Edit</a></td>
					<td><a th:href="@{/web/project/view/} + ${project.id}">View</a></td>
				</tr>
				</th:block>
			</table>

</body>
</html>