<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot</title>
<link rel="stylesheet" th:href="@{/css/table/add-student-style.css}" type="text/css">
<link rel="stylesheet" th:href="@{/css/table/style.css}" type="text/css">
</head>
<body>
	
	
<h1>View</h1>
	<div id="container">
	<div id="content">
	<table>
		<tr>
			<th>id</th>
			<th>Name</th>
			<th>namejp</th>
			<th>heightm</th>
			<th>heightft</th>
			<th>floors</th>
			<th>year</th>
			<th>city</th>
			<th>url image</th>	
		</tr>
		
		<tr>
			<td th:text="${building.id}"></td>
	        <td><p th:text="${building.name}"></p></td>
	        <td><p th:text="${building.nameJp}"></p></td>
	        <td><p th:text="${building.heightM}"></p></td>
	        <td th:text="${building.heightFt}"></td>
	        <td th:text="${building.floors}"></td>
	 		<td><p th:text="${building.year}"></p></td>
	 		<td><p th:text="${building.city}"></p></td>
	 		<td><p th:text="${building.image}"></p></td>
		</tr>

	</table><br/>
	
	<input type="button" value="Back" onclick="window.location.href='/web/building/index';"/>
	<a th:href = "@{/web/building/editbuilding-form/} + ${building.id}">Edit</a>
	</div>
	</div>
</body>
</html>