<html xmlns:th="http://www.thymeleaf.org">

<body>
  
  
  <h1>Add new Project:</h1>
  
  <form th:action="@{/web/project/saveProject}" method="POST" th:object="${project}">
      Name: <input th:field="*{nameproject}" placeholder = "Ten du an"/> <br/> <br/>
      Start: <input th:field="*{startdate}" placeholder = "yyyy-MM-dd"/> <br/> <br/>
      End: <input th:field="*{enddate}" placeholder = "yyyy-MM-dd"/> <br/> <br/>
    
    <input type="submit" value="Submit" />
  </form>
  <input type="button" value="Back" onclick="window.location.href='/web/project/index2';">
</body>
</html>